.notification-container {
  max-width: 76%;
  min-width: 692px;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .notification-container {
    max-width: 90%;
    min-width: auto;
  }
}