.main-container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #5262BC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 600px;
  max-width: 90vw;
  max-height: 80vh; 
  overflow-y: auto; 
}

@media screen and (max-width: 768px) {
  .card {
    width: auto;
  }
}