<mat-card class="card bg-light px-4 pt-4 clickable" (click)="onClickCard(data.link)">
    <p><b class="me-2">Title:</b>{{ data.title }}</p>
    <p><b class="me-2">Link:</b>{{ data.link }}</p>
    <p><b class="me-2">Last Modify:</b>{{ data.last_modify }}</p>
    <p><b class="me-2">Last Evaluation:</b>{{ data.last_evaluation }}</p>
    <p><b>Last Average:</b>
        <app-evaluation-circle-component [obtained]="data.last_average" [max]="data.last_max" [small]="true"></app-evaluation-circle-component>
    </p>
    
</mat-card>
