.icon-progress {
  color: red !important;
}

.icon-completed {
  color: rgb(5, 185, 5) !important;
}

.icon-evaluation {
  color: rgb(255, 204, 0) !important;
}

:host ::ng-deep .mat-mdc-tab-header {
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {
  :host ::ng-deep .mat-mdc-tab-header {
    width: 100%;
  }
}